{% extends "base.html" %}


{% block js %}
{% endblock %}


{% block main %}
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }} </p>
  {% endif %}
  
<body>
  <div class="container">
    <br>
    <h4>Please Login:</h4>
    <br>
    <form action="{{ url_for('login') }}" class="form-inline" method="post" name="login">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Username" name="username" value="{{request.form.username}}">
        <input type="password" class="form-control" placeholder="Password" name="password" value="{{request.form.password}}">
        <input class="btn btn-default" type="submit" value="Login">
      </div>
    </form>
    <a href="{{url_for('newprofile')}}">Not yet registered?</a>
  </div>
</body>
{% endblock %}